name: Phonebook deployment pipeline

env:
  PORT: ${{ secrets.PORT_PHONEBOOK }}
  MONGODB_URI: ${{ secrets.MONGODB_URI_PHONEBOOK }}

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  deployment_pipeline:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./phonebook
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
      - name: lint
        run: npm run eslint
      - name: build
        run: npm run build
      - name: e2e tests
        uses: cypress-io/github-action@v5
        with:
          working-directory: ./phonebook
          command: npm run test:e2e
          start: npm run start:testbackend
          wait-on: http://localhost:${{ env.PORT }}